@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 4px;
    background-color: #ffffff;
    min-height: 100vh;
}