@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #EAF8F4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 4px;
    background-color: #ffffff;
    min-height: 100vh;
    border-radius: 16px;
}




/* 編集モード切り替え制御 */
.edit-mode { display: none; } /* 基本非表示 */

.is-editing .view-mode { display: none; } /*.is-editingがあれば表示を隠す*/
.is-editing .edit-mode { display: block; } /*.is-editingがあれば編集モードを出す*/